@use "@/styles/graph" as *;

.graph-node {
  padding: 5px 15px;
  line-height: 1.3;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  color: black;

  .title {
    font-weight: $graph-node-font-main-weight;
    font-size: $graph-node-font-main;
  }

  .id {
    font-size: $graph-node-font-sub;
    color: #6b7280;
  }
  .type {
    margin-top: 8px;
    font-size: $graph-node-font-type;
  }
}
