$graph-edge-font-main: 10px;
$graph-edge-font-sub: 9px;
$graph-edge-font-main-weight: 600;


$graph-node-font-main: 14px;
$graph-node-font-sub: 11px;
$graph-node-font-type: 8px;
$graph-node-font-main-weight: 600;