@use "@/styles/graph" as *;

.sg-node {
  opacity: 1;
  background: $graph-node-bg-default;
  border: 1px solid $graph-node-border-default;

  &.muted {
    opacity: 0.35;
  }
  &.active {
    border: 4px solid $graph-node-border-active;
    background: $graph-node-bg-active;
  }
}
